<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel="icon" type="image/x-icon" href="/favicon2.png">
  <link rel='stylesheet' href='/css/modal.css' />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />

</head>

<body>
  <%- include('../partials/1header.ejs') %>


    <main>
      <h1> HOLA, ADMIN!</h1>
      <% if (typeof msj !=="undefined" && msj) { %>
        <h2>
          <%= msj %>
        </h2>
        <% } %>
        <div><button><a href="admin/nuevoProducto">CREAR PRODUCTO</a></button></div>
      <nav>
        <a href="/admin/raquetas" class="navs nav_raquetas">
          <img class="nav_img_raquetas" src="/images/productos/raqueta1.webp">
          <h3>RAQUETAS</h3>
        </a>
        <a href="/admin/cuerdas" class="navs nav_cuerdas">
          <img class="nav_img_cuerdas" src="/images/productos/cuerda1.webp">
          <h3>CUERDAS</h3>
        </a>
      </nav>
    </main>


    <script src="/js/index.js"></script>
    <%- include('../partials/2footer_admin.ejs') %>
</body>

</html>