<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel="icon" type="image/x-icon" href="/favicon2.png">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/modal.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />

</head>

<body>
  <!-- Header: es estático. Solo muestra logo y titulo -->
  <%- include('./partials/1header.ejs') %>


    <main>
      <nav>
        <a href="/productos/raquetas" class="navs nav_raquetas">
          <img class="nav_img_raquetas" src="/images/productos/raqueta1.webp" alt="raqueta1">
          <h3>RAQUETAS</h3>
        </a>
        <a href="/productos/cuerdas" class="navs nav_cuerdas">
          <img class="nav_img_cuerdas" src="/images/productos/cuerda1.webp" >
          <h3>CUERDAS</h3>
        </a>
      </nav>
    </main>

    <!-- Footer: es estático. Solo muestra logo y titulo / y en Desk muestra links a redes etc -->
    <%- include('./partials/2footer.ejs') %>
    <!-- MODAL DE BIENVENIDA -->
    <%- include('./partials/3modalBienvenida.ejs') %>


        <script src="/js/header.js"></script>
        <script src="/js/index.js"></script>
</body>

</html>