<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel="icon" type="image/x-icon" href="/favicon2.png">
  <link rel='stylesheet' href='/css/modal.css' />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />

</head>

<body>
  <!-- Modal de Bienvenida: se oculta al tocarse la pantalla (JS)  --- displayNone -->
  <!-- REMOVER EL displayNone PARA QUE SE MUESTRE EN PRODUCCION -->
  <!-- <div class="modal_bienvenida displayNone" id="modal_bienvenida"> -->
  <div class="modal_bienvenida " id="modal_bienvenida">
    <div class="contenidoModal">
      <h2>@RaquetApp: Tu Centro de Raquetas y Cuerdas</h2>
      <br><br>
      <p>Ingrese su nombre:</p>
      <div>
        <form>
          <textarea id="nombreUsuario" name="nombreUsuario" placeholder="Raqueto Raquétez"></textarea>
          <button type="submit">Aceptar</button>
        </form>
        <a href="/login">Login para Admin</a>
      </div>
    </div>
  </div>

  <div class="modal_error contenidoModal2 displayNone" id="modal_error">
      <h3>Aviso</h3>
      <p>Por favor, ingrese su nombre.</p>
      <button id="cerrarError">Cerrar</button>
  </div>

  <!-- Header: es estático. Solo muestra logo y titulo -->
  <%- include('./partials/1header.ejs') %>


    <main>
      <nav>
        <a href="/productos/raquetas" class="navs nav_raquetas">
          <img class="nav_img_raquetas" src="/images/productos/raqueta1.webp">
          <h3>RAQUETAS</h3>
        </a>
        <a href="/productos/cuerdas" class="navs nav_cuerdas">
          <img class="nav_img_cuerdas" src="/images/productos/cuerda1.webp">
          <h3>CUERDAS</h3>
        </a>
      </nav>
    </main>

    <!-- Footer: es estático. Solo muestra logo y titulo / y en Desk muestra links a redes etc -->




    <script src="/js/index.js"></script>
    <%- include('./partials/2footer.ejs') %>
</body>

</html>