<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel="icon" type="image/x-icon" href="/favicon2.png">
  <link rel='stylesheet' href='/css/modal.css' />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />

</head>

<body>


  <!-- Header: es estático. Solo muestra logo y titulo -->
  <%- include('./partials/1header.ejs') %>

    <main>
      <h3>
        <% if (typeof msj !=="undefined" ) { %>
          <p class="msj">
            <%= msj %>
          </p>
          <% } %>
      </h3>
      <form action="/login" name="=loginForm" method="POST" id="form">

        <label for="mail">Email:</label>
        <input id="mail" name="mail" type="email" />

        <label for="password">Contraseña:</label>
        <input id="password" name="password" type="password" />

        <button type="submit" id="btnSubmit">Ingresar</button>
        <button type="button" id="btnTester">TESTER's AUTOCOMPLETE</button>
      </form>

      <a href="/">No soy Admin</a>
    </main>

    <script src="/js/login.js"></script>

</body>

</html>