<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <!-- Header: es estático. Solo muestra logo y titulo -->
  <header>
    <img class="header_logo">
    <h1>OPENsourceTENNIS</h1>
    <p>Welcome to RaquetApp</p>
  </header>

  <main>
    <nav>
      <div class="navs nav_raquetas">
        <img class="nav_img_raquetas">
      </div>
      <div class="navs nav_cuerdas">
        <img class="nav_img_cuerdas">
      </div>
    </nav>
  </main>

  <!-- Header: es estático. Solo muestra logo y titulo / y en Desk muestra links a redes etc -->
  <footer>
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </footer>

</body>

</html>