<footer>
  <nav id="nav_footer">
    <a href="/"> Atrás</a>
    <a class="displayNone" id="aCarrito" href="/carrito"> Carrito</a>
    <a id="btnSalir" href="/">Salir</a>
    <a href="/">Seguir comprando</a>
  </nav> <!-- poner links  -->
  <div>
    <ul id="links_mobile"> <!-- ver @mediaqueries para ocultar en modo grande -->
      <li>MYSPACE</li>
      <li>FOTOLOG</li>
      <li>FACEBOOK</li>
    </ul>
    <div>
      <p>by Guanipa-Soria</p> <!-- centrar! -->
    </div>
  </div>
  <script src="/js/footer.js"></script>
</footer>