<footer>
  <div>
    <p>by Guanipa-Soria</p> <!-- centrar! -->
  </div>
  <nav id="nav_footer">
    <a href="/admin"> Atrás</a>
    <a id="btnSalir" href="/admin/logout">Salir</a>
  </nav> <!-- poner links  -->
  <script src="/js/footer.js"></script>
</footer>