<footer>
  <div>
    <p>by Guanipa-Soria</p> <!-- centrar! -->
  </div>
  <nav id="nav_footer" >
    <a href="/"> Atras</a>
    <a href="/"> Carrito</a>
    <a href="/"> Mmmmejor otro dia... Salir</a>
    <a href="/"> Quiero comprar mas</a>
  </nav> <!-- poner links  -->
  <div>
    <ul id="links_mobile"> <!-- ver @mediaqueries para ocultar en modo grande -->
      <li>MYSPACE</li> 
      <li>FOTOLOG</li> 
      <li>FACEBOOK</li>
    </ul>
  </div>
</footer>