<footer>
  <div>
    <p>by Guanipa-Soria</p>
  </div>
  <a href="/"> Atras</a>
  <a href="/"> Quiero comprar mas</a> <!-- poner links  -->
  <div>
    <ul id="links_mobile"> <!-- ver @mediaqueries para ocultar en modo grande -->
      <li>MYSPACE</li> 
      <li>FOTOLOG</li> 
      <li>FACEBOOK</li>
    </ul>
  </div>
</footer>