/* Sobreescribe MAIN */
main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

h1 {
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  text-align: center;
}

#items_grid {
  grid-column: 2/4;
  grid-row: 2/3;
}

.formPagar {
  /* para ubicar el .btnPagar */
  grid-column: 2/4;
  grid-row: 3/4;
  text-align: center;
}

.btnPagar {
  width: 50%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  color: var(--verde-oscuro);
  background-color: var(--amarillo-claro);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
  padding: 0.6rem 0.5rem;
}

.btnPagar:hover {
  background-color: var(--verde-claro);
}

.no_productos_carro {
  display: inline;
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: center;
}

#paginacion {
  grid-column: 2/4;
  grid-row: 4/5;
  display: flex;
}

.modal_confirmacion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
