.btnPagar {
  width: 70%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  color: var(--verde-oscuro);
  background-color: var(--amarillo-claro);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
  padding: 0.6rem 0.5rem;
}

.btnPagar:hover {
  background-color: var(--verde-claro);
}