#items_grid1 {
  display: grid;
  justify-items: center;
  gap: 5rem;
}

/* Tarjeta individual */
#item {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  border: 4px solid var(--verde-claro);
  background-color: var(--naranja-claro);
  border-radius: 2vh 5vw;
  width: 75vw;
  padding: 1rem;
}
