/* Modal de bienvenida mejorado */
.modal_bienvenida {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contenidoModal2 {
  position: absolute;
  top: 35vh;
  left: 30vw;
  z-index: 1100;
}

.contenidoModal,
.contenidoModal2 {
  background-color: var(--blanco-claro);
  border: 2vh solid var(--verde-claro);
  border-radius: 5.5vw 3vh;
  padding: 5vh 10vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contenidoModal h2,
.contenidoModal2 h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--naranja-oscuro);
}

.contenidoModal p,
.contenidoModal2 p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--verde-oscuro);
  animation: pulso 2.5s infinite alternate ease-in-out;
}

.displayNone {
  position: absolute;
  animation: fadeOutModal 0.5s forwards;
}
.contenidoModal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}
.contenidoModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px; 
}
#nombreUsuario {
  width: 50%; 
  max-width: 300px; 
  padding: 15px;
  border: 3px solid var(--naranja-oscuro);
  border-radius: 10px;
  resize: none; /* Evita que el usuario la estire */
  font-size: 1.2rem;
  color: var(--verde-oscuro);
}
.contenidoModal button[type="submit"] {
  width: 200px;
  padding: 12px 25px;

  background-color: var(--verde-claro);
  color: var(--blanco-claro);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contenidoModal button[type="submit"]:hover {
  background-color: var(--violeta-oscuro);
}
@keyframes fadeOutModal {
  0% {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }
  10% {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0);
  }
  100% {
    z-index: -1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes pulso {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
