:root {
  /* TONOS OSCUROS */
  --verde-oscuro: #023c23ff;
  --violeta-oscuro: #6e2594ff;
  --amarillo-oscuro: #ecd444ff;
  --blanco-: #ffffffff;
  --naranja-oscuro: #c95917ff;
  /* TONOS CLAROS */
  --verde-claro: rgb(25, 131, 102);
  --violeta-claro: #eedef7ff;
  --amarillo-claro: #faf2c7ff;
  --blanco-claro: #f5f5f5ff;
  --naranja-claro: #fbe6daff;
  /*  */
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
  /*  */
  height: 100%;
  width: 100%;
  /*  */
  color: var(--naranja-oscuro);
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
  /*  */
  margin: 0;
  padding: 0;
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 75%;
  height: 70%;
}
.navs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--naranja-oscuro);
  border: 0.5vw solid var(--verde-oscuro);
  box-shadow: 5px 5px 18px 9px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.nav_raquetas {
  border-radius: 2vh 5vw;
  align-items: center;

}
.nav_raquetas:hover {
  filter: drop-shadow(10px 17px 30px rgb(138, 81, 171));
  transition: 1s;
}
.nav_cuerdas {
  border-radius: 5vh 2vw;
  align-items: center;
}
.nav_cuerdas:hover {
  filter: drop-shadow(10px 17px 30px rgb(138, 81, 171));
  transition: 1s;
}
img {
  width: 75%;
  border-radius: 25%;
  margin-top: 3vh;
  filter: drop-shadow(1px 15px 30px rgb(134, 113, 146));
}
h3 {
  font: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--amarillo-oscuro);
  font-weight: bold;
  text-align: center;
}
