main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
a {
  text-decoration: none;
}

h1 {
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  text-align: center;
}
nav {
  grid-column: 2/4;
  grid-row: 2/3;
}

h2 {
  /* para ubicar el .btnPagar */
  grid-column: 2/4;
  grid-row: 4/5;
  text-align: center;
}

.btn_contenedor {
  grid-column: 2/4;
  grid-row: 4/5;
text-align: center;
}
.bntGral {
}
