header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    border-bottom: 5px var(--amarillo-oscuro) solid;
    width: 100%;
    height: 20vh;
    background-color: var(--violeta-claro);
  }
  