footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  */
  color: var(--blanco-claro);
  background-color: var(--verde-oscuro);
  border-top: 10px var(--amarillo-claro) solid;
  /*  */
  bottom: 0;
  left: 0;
  z-index: 1000;
  /*  */
  grid-row: 3 / 4;
  grid-column: 1 / 7;
  /*  */
  padding: 10px 2px;
}

/* Texto central */
footer div p {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  margin: 0.2rem 0;
}

/* NAV — los 4 botones distribuidos */
#nav_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0;
}

/* Enlaces estilo botón */
#nav_footer a {
  flex: 1; /* cada link ocupa el mismo espacio */
  text-align: center;
  margin: 0 0.5rem;
  background-color: var(--amarillo-claro);
  color: var(--verde-oscuro);
  font-weight: bold;
  padding: 0.6rem 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

#links_mobile,
#links_mobile li {
  display: none;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* para pantallas pequeñas */
/* para pantallas pequeñas */
/* LOGRAR QUE EL FOOTER ES VEA BORROSO CUANDO ESTÁ EL MODAL */

@media (max-width: 768px) {
  footer {
    background-color: var(--verde-oscuro);
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  footer a {
    position: static;
    transform: none;
    margin: 0.3rem 0;
  }

  #links_mobile {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 0.5rem;
  }

  #links_mobile li {
    color: white;
    margin: 0.2rem 0;
  }
}
